body {
  font-family: Arial, Helvetica, sans-serif;
}

.column {
  display: flex;
  flex-direction: column;
  width: 640px;
  align-items: center;
  margin: 1em auto;
}

.column input {
  border-radius: 3px;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.43);
  font-size: 16px;
  width: 80%;
}

.column label {
  float: left;
  font-size: 16px;
  font-weight: 200;
}

.error {
  background: rgb(221, 162, 172);
  color: rgb(155, 15, 15);
  padding: 0.5rem;
  border-radius: 4px;
}

.header,
.loader {
  text-align: center;
  font-size: 30px;
  font-weight: 200;
}

.centered {
  text-align: center;
}

.button {
  color: #e6e6e6;
  background: #035800;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  width: 200px;
  text-align: center;
  display: block;
  padding: 7px 0;
  margin: auto;
}

.button:hover:enabled {
  background: linear-gradient(#087404, #035800);
  color: #fff;
  text-decoration: none;
}

.button.disabled {
  background-color: #888;
}
